@use "../core/mediaQueries" as mq;

@import "../abstracts/variables";
@import "../core/typography";

// MAP SECTION STYLES
.mapSection {
    width: 90%;
    margin: auto;

    @include mq.desktop {
        width: 80%;
    }

    &__img {
        width: 100%;
    }
}