@use "../core/mediaQueries" as mq;

@import "../abstracts/variables";
@import "../core/typography";

// MAP SECTION STYLES
.mapSection {
    width: 90%;
    margin: auto;

    @include mq.desktop {
        width: 80%;
    }

    &__address {
        border: none;
        background-color: #f8f8f8;
        width: 50%;
        padding: 2.3rem 5.2rem 2.3rem 3rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
    }

    .regions {
        margin-left: 1rem;
        padding: 1.5rem 0.5rem;
        width: 15%;
        border-radius: 2px;
        cursor: pointer;
    }

    .button-map {
        border-style: none;
        height: 4rem;
        width: fit-content;
        padding: 1rem 3rem;
        margin-top: 1rem;
        border-radius: 2px;
        background-color: white;
        font-family: $roboto-font;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.28rem;
        color: $darker-grey;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: $gold;
            opacity: 0.9;
        }
    }

    .button-matrix {
        right: 1rem !important;
    }

    .location-table {
        width: 100%;
        margin-top: 3rem;
        font-family: $roboto-font;
        border-collapse: collapse;
        background-color: #ffffff;
        color: $darker-grey;

        & th {
            font-size: 1.8rem;
            font-weight: 600;
            text-align: start;
            padding: 2.2rem 2.2rem 2.2rem 0;
        }

        & tr {
            border-bottom: 1px solid #d4d4d4;
            transition: background-color 0.3s;
            padding: 2rem;

            &:hover {
                box-shadow: 0px 4px 30px #00000014;
            }

            & td {
                padding: 1rem 2.2rem 1rem 0;
            }
        }
    }

}

#map {
    height: 60%;
    width: 100%;
}