@use "../core/mediaQueries" as mq;

@import "../abstracts/variables";
@import "../core/typography";

// SINGLE ROOM DETAILS SECTION STYLES
.roomSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4.8rem 2rem;

    @include mq.desktop {
        width: 50%;
        display: inline-block;
        margin: 0 0 0 15%;
        position: relative;
        top: -100rem;
    }

    &__subtitle {
        font-family: $archivo-font;
        font-style: normal;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.5rem;
        letter-spacing: 0.28rem;
        color: $light-grey;

        @include mq.desktop {
            padding-left: 4rem;
            display: inline-block;
        }
    }

    &__title {
        margin-top: 1.2rem;
        font-family: $standard-tt-font;
        font-style: normal;
        font-weight: 400;
        font-size: 4rem;
        line-height: 4.8rem;
        letter-spacing: -0.144rem;
        color: $darker-grey;

        @include mq.desktop {
            padding-left: 4rem;
            padding-right: 5rem;
            display: inline-block;
        }
    }

    &__price {
        padding: 1.6rem 0;
        font-family: $archivo-font;
        font-style: normal;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 4.3rem;
        color: $gold;

        @include mq.desktop {
            display: inline-block;
        }

        &--perNight {
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 2rem;

            @include mq.desktop {}
        }
    }

    & img {
        @include mq.desktop {
            position: absolute;
            left: 0;
            z-index: -1;
            top: 9rem;
        }
    }
}